.wrapper {
    background-color: var(--dark);
    border-radius: 165px;
    padding: 20px;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 9px 1px #000, -3px -3px 4px -2px #606060,
        3px 3px 9px -30px #000 inset,
        -3px -3px 4px -30px rgb(96, 96, 96, 0.9) inset;
    transition: box-shadow 0.12s ease-in;
    position: relative;
}

.wrapper__active {
    box-shadow: 3px 3px 9px -30px #000, -3px -3px 4px -30px #606060,
        3px 3px 9px 1px #000 inset,
        -3px -3px 4px -2px rgb(96, 96, 96, 0.9) inset;
    .person {
        scale: 0.98;
    }
}

.person {
    overflow: hidden;
    border-radius: 555px;
    pointer-events: none;
    transition: scale 0.07s ease-in 0.07s;
    border: 1px solid #eb642a4d;
}

@keyframes point {
    0% {
        translate: -50% -50%;
    }
    50% {
        opacity: 1;
    }
    100% {
        translate: -50% -120px;
        opacity: 0.3;
    }
}

.point {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    font-size: 32px;
    translate: -50% -50%;
    animation: point 1s ease-out forwards;
    font-weight: 500;
    color: var(--white);
    rotate: -10deg;
}
