.wrapper {
    background-color: var(--dark);
    border-radius: 165px;
    padding: 23px;
    width: 292px;
    height: 292px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 4px 0px #000, -2px -2px 3px -2px #606060,
        2px 2px 4px -30px #000 inset,
        -2px -2px 3px -30px rgb(96, 96, 96, 0.9) inset;
    transition: box-shadow 0.1s ease-in;
    position: relative;
}

.wasted {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    scale: 1.5;
    z-index: 1;
}

.wrapper__active {
    box-shadow: 2px 2px 4px -30px #000, -2px -2px 3px -30px #606060,
        2px 2px 4px 1px #000 inset,
        -2px -2px 3px -2px rgb(96, 96, 96, 0.9) inset;
    .person {
        scale: 0.98;
    }
}

.wrapper__wasted {
    .wasted {
        opacity: 1;
        scale: 1;
        transition: opacity 1s ease-in, scale 1s ease-in 0.2s;
    }

    .person {
        filter: saturate(0%) brightness(0.9);
        transition: scale 0.05s ease-in 0.02s, filter 2s ease-in 2s;
    }
}

.person {
    overflow: hidden;
    border-radius: 555px;
    pointer-events: none;
    transition: scale 0.05s ease-in 0.02s;
    border: 1px solid #eb642a4d;
}

@keyframes point {
    0% {
        translate: -50% -50%;
    }
    50% {
        opacity: 1;
    }
    100% {
        translate: -50% -120px;
        opacity: 0.3;
    }
}

.point {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    font-size: 32px;
    translate: -50% -50%;
    animation: point 1s ease-out forwards;
    font-weight: 500;
    color: var(--white);
    rotate: -10deg;
}
