.wrapper {
    box-shadow: 12px 12px 24px 0px #1e1e1e, -12px -12px 24px 0px #3e3e3e;
    background-color: #333;
    border-radius: 165px;
    padding: 20px;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(1500px) rotateX(0deg) rotateY(0deg);
    transition: transform 0.123s ease-in-out;
}

.person {
    overflow: hidden;
    border-radius: 555px;
    pointer-events: none;
}
