.container {
    padding: 26px 17px 46px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 100%;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 33.44px;
}

.chests {
    width: 100%;
    margin-top: 29px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.chest {
    padding: 20px;
    box-shadow: var(--shadow-1);
    border-radius: 12px;
    background-color: var(--dark);

    &:last-child {
        grid-column: span 2;

        .chest_title {
            text-align: left;
        }
    }
}

.chest_title {
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}

.chest_icon {
    width: 24px;
    height: 24px;
}

.chest__common .chest_title {
    color: var(--c-green);
}

.chest__uncommon .chest_title {
    color: var(--c-cyan);
}

.chest__rare .chest_title {
    color: var(--c-pink);
}

.chest__epic .chest_title {
    color: var(--c-purple);
}

.chest__legendary .chest_title {
    color: var(--orange-2);
}

.chest_info {
    margin-top: 15px;
}

.chest_info_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    & + & {
        margin-top: 10px;
    }
}

.chest_info_row span {
    font-size: 16px;
    font-weight: 400;
    line-height: 16.72px;
    opacity: 0.5;
}

.chest_info_row p {
    font-size: 16px;
    font-weight: 700;
    line-height: 16.72px;
}
