.modal {
    position: fixed;
    z-index: 11;

    width: 100%;
    bottom: 0;
    left: 0;
}

.modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    backdrop-filter: blur(5px);

    animation: overlayShowing 0.1s ease-in-out forwards;
}

@keyframes overlayShowing {
    0% {
        backdrop-filter: blur(0px);
        opacity: 0;
    }
    100% {
        backdrop-filter: blur(5px);
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 32px;
    min-height: 32px;
}

.modal_inner {
    translate: 0 100%;
    height: 100%;
    position: relative;

    animation: modalShowing 0.15s ease-in-out forwards;
}

@keyframes modalShowing {
    0% {
        translate: 0 100%;
    }
    100% {
        translate: 0 0;
    }
}

.wrapper {
    background-color: var(--dark);
    padding: 0 17px;
    border-radius: 24px 24px 0px 0px;
    min-height: 100%;
}

.heading {
    font-family: "Pixel Operator";
    font-size: 32px;
    font-weight: 700;
    line-height: 33.44px;
    color: var(--white);
    text-align: center;
}

.subheading {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.9px;
    color: var(--gray);
    text-align: center;
}
