.container {
    padding: 20px 17px 6.35vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.top_left {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.heading {
    font-family: "Pixel Operator";
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
}

.top_icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 77px;
    background: var(--dark);
    box-shadow: var(--shadow-1);
}

.choosed_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 4px;
    margin-top: 23px;
    max-width: 342px;
}

.card {
    font-size: 64px;
    line-height: 0;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 9px 1px #000, -3px -3px 4px -2px #606060,
        3px 3px 9px -30px #000 inset,
        -3px -3px 4px -30px rgb(96, 96, 96, 0.9) inset;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;

    &:active {
        box-shadow: 0 0 5px 6px rgba(235, 100, 42, 0.5);
        z-index: 1;
    }

    &:nth-child(4) {
        margin-left: auto;
        margin-right: 8px;
    }

    &:nth-child(5) {
        margin-left: 8px;
        margin-right: auto;
    }
}

.card_upgrading {
    position: absolute;
    top: 5px;
    right: 5px;

    @keyframes fadeTop {
        0% {
            opacity: 0.8;
        }
        25% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.3;
        }
        75% {
            opacity: 0.5;
        }
        100% {
            opacity: 0.8;
        }
    }

    @keyframes fadeMiddle {
        0% {
            opacity: 0.5;
        }
        25% {
            opacity: 0.3;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.8;
        }
        100% {
            opacity: 0.5;
        }
    }

    @keyframes fadeBottom {
        0% {
            opacity: 0.3;
        }
        25% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.8;
        }
        75% {
            opacity: 0.5;
        }
        100% {
            opacity: 0.3;
        }
    }

    path {
        &:nth-child(1) {
            animation: fadeTop 2s ease-in-out infinite;
        }

        &:nth-child(2) {
            animation: fadeMiddle 2s ease-in-out infinite;
        }

        &:nth-child(3) {
            animation: fadeBottom 2s ease-in-out infinite;
        }
    }
}

.card_img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    transition: scale 0.3s ease-in-out, border-color 0.3s ease-in-out;
    pointer-events: none;
}

.skills {
    margin-top: 4.41vh;
    margin-bottom: 5px;
    width: 100%;
}

.skills_top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}

.skills_heading {
    flex-grow: 1;
    font-family: "Pixel Operator";
    font-size: 20px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: var(--gray);
    transition: color 0.123s ease-in-out;
}

.skills_heading__active {
    color: var(--white);
    pointer-events: none;
}

.skills_slider {
    display: flex;
    gap: 20px;
    transition: translate 0.123s ease-in;
}

.skills_slider__active {
    translate: calc(-100% - 20px) 0 0;
}

.skills_slide {
    flex-shrink: 0;
    width: 100%;
}

.skill {
    background-color: var(--dark);
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    padding: 10px 16px;

    & + & {
        margin-top: 19px;
    }
}

.modal_content .skill {
    padding: 16px;

    &:last-of-type {
        margin-bottom: 3.72vh;
    }
}

.skill_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_top_left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.skill_value {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.skill_value span {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.skill__knowledge {
    .line {
        --action-background: var(--orange-2);
        --action-box-shadow: 0.63px 3px 11.7px 0px rgb(235, 100, 42, 0.58);
    }

    .skill_value {
        color: var(--orange-2);
    }
}

.skill__loyalty {
    .line {
        --action-background: var(--green);
        --action-box-shadow: 0.63px 3px 11.7px 0px #38c31394;
    }

    .skill_value {
        color: var(--green);
    }
}

.skill__influence {
    .line {
        --action-background: var(--c-pink);
        --action-box-shadow: 0.63px 3px 11.7px 0px #ff2d2d94;
    }

    .skill_value {
        color: var(--c-pink);
    }
}

.line {
    box-shadow: -2px -2px 4px 0px #ffffff14 inset,
        2px 2px 4px 0px #000000cc inset;
    background-color: #262626;
    margin-top: 12px;
    width: 100%;
    border-radius: 25px;
}

.line_inner {
    height: 2px;
    background-color: var(--orange-2);
    box-shadow: 0.63px 3px 11.7px 0px rgb(235, 100, 42, 0.58);
    border-radius: 25px;
}

.skill_progress {
    margin-top: 10px;
}

.progress {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.progress_item {
    height: 20px;
    flex-grow: 1;
    background: var(--gray);
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(
                90deg,
                var(--dark) 0%,
                var(--dark) 2px,
                transparent 2px,
                transparent calc(100% - 2px),
                var(--dark) calc(100% - 2px),
                var(--dark) 100%
            ),
            linear-gradient(
                90deg,
                var(--dark) 0%,
                var(--dark) 2px,
                transparent 2px,
                transparent calc(100% - 2px),
                var(--dark) calc(100% - 2px),
                var(--dark) 100%
            );
    }

    &::after {
        top: auto;
        bottom: 0;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin-top: auto;
}

.button {
    width: 100%;
    max-width: 190px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--white);
    border: 0;
    box-shadow: var(--shadow-1);
    border-radius: 93px;
    font-family: "Pixel Operator";
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;

    &:disabled {
        opacity: 0.7;
        color: var(--gray);
        pointer-events: none;
    }
}

.cards {
    width: 100%;
    margin-top: 44px;
}

.cards_content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.modal_content {
    margin-top: 37px;
}

.upgradeButton {
    padding: 0 12px;
    height: 60px;
    gap: 8px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;

    &:disabled {
        color: var(--red);

        .upgradeButton_icon path {
            fill: var(--red);
        }
    }
}

.upgradeButton_icon {
    width: 16px;
    height: 16px;
}

.changeButton {
    padding: 0 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    background-color: var(--dark);
    box-shadow: var(--shadow-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 100px;
    border: 0;
    height: 60px;
    margin-top: 20px;
    color: var(--white);
}

.no_cards_text {
    color: var(--red);
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}
