.coins {
    flex-grow: 1;
    height: auto;
    width: auto;
    padding: 7.5px 18.5px;
    gap: 12px;
}

.value {
    font-size: 30px;
    font-weight: 700;

    &.reward {
        color: #667c12;
    }
}
