.island {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px 18.5px;
    gap: 12px;

    border-radius: 111px;
    background-color: var(--dark);
    box-shadow: var(--shadow-1);
}

.value {
    font-size: 30px;
    font-weight: 700;

    &.reward {
        color: #667c12;
    }
}
