.reward_info {
    min-height: 100px;
    padding: 22px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 44px auto 0;
    width: 286px;
    box-shadow: var(--inner-shadow);
    border-radius: 16px;
}

.reward_img {
    width: 100%;
    flex-grow: 1;
    max-width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 4px;
    box-shadow: var(--shadow-1);

    img {
        width: 100%;
        height: 100%;
        border: 0.22px solid #eb642a4d;
        border-radius: 100px;
    }
}

.reward_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 25.08px;
}

.reward_title__points {
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
    display: flex;
    align-items: center;
    gap: 16px;

    svg {
        width: 28px;
        height: 28px;
    }
}

.reward_button {
    background-color: var(--dark);
    border-radius: 100px;
    width: 190px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    border: 0;
    box-shadow: var(--shadow-1);
    color: var(--white);
    margin: 44px auto 0;

    &:disabled {
        color: var(--gray);
    }
}
