.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    position: relative;
}

.close {
    z-index: 11;
    position: relative;
}

.vibro {
    width: 128px;
    height: 44px;
    position: absolute;
    right: 0;
    gap: 8px;
    font-family: "Pixel Operator";
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    z-index: 11;
    padding-left: 15px;
    justify-content: flex-start;
}

.notification {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 11px;
        right: 12px;
        width: 4px;
        height: 4px;
        border: 3px solid #0a0a0a;
        background-color: #eb642a;
        border-radius: 50%;
        box-sizing: content-box;
    }
}
