.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.island__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 111px;
    background-color: var(--dark);
    box-shadow: var(--shadow-1);
}

.island {
    flex-grow: 1;
}

.close {
    z-index: 11;
    position: relative;
}
