.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  position: relative;
}

.island__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 111px;
  background-color: var(--dark);
  box-shadow: var(--shadow-1);
}

.island {
  flex-grow: 1;
}

.close {
  z-index: 11;
  position: relative;
}

.vibro {
  border: 0;
  background-color: var(--dark);
  box-shadow: var(--shadow-1);
  border-radius: 100px;
  color: var(--white);
  width: 128px;
  height: 44px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Pixel Operator";
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  z-index: 11;
}
