.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 11.5px 24px;
    border-radius: 102px;
    box-shadow: var(--shadow-1);
    background-color: var(--dark);
    width: calc(100% - 16px);
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.info_line {
    width: 1px;
    height: 17px;
    opacity: 0.1;
    background-color: #fff;
    display: block;
}

.info_name {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

.info_level {
    font-family: "Pixel Operator";
    font-weight: 400;
    font-size: 16px;
    color: rgba($color: #b6b6b6, $alpha: 0.5);
}

.person_top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.person_image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.person_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.person_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
}

.person_level {
    font-family: "Pixel Operator";
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    opacity: 0.5;
}

.person_text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 6.62vh;
}

.person_button {
    width: 190px;
    height: 60px;
    box-shadow: var(--shadow-1);
    border: 0;
    background-color: var(--dark);
    border-radius: 100px;
    color: var(--whtie);
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    display: block;
    margin: 0 auto;
}
