.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 11.5px 24px;
    border-radius: 102px;
    box-shadow: var(--shadow-1);
    background-color: var(--dark);
}

.name {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

.level {
    font-weight: 400;
    font-size: 16px;
    color: rgba($color: #b6b6b6, $alpha: 0.5);
}
