.container {
    padding: 11.6vh 17px 8.97vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;

    --action-color: var(--white);
}

.info_rank {
    color: var(--action-color);
}

.info_rank_icon path {
    fill: var(--action-color);
}

.info_level {
    color: var(--action-color);
}

.info__recruit {
    --action-color: #34c759;
}

.info__rookie {
    --action-color: #34c759;
}

.info__mercenary {
    --action-color: #32ade6;
}

.info__warrior {
    --action-color: #32ade6;
}

.info__commander {
    --action-color: #e21515;
}

.info__guardian {
    --action-color: #e21515;
}

.info__veteran {
    --action-color: #af52de;
}

.info__hero {
    --action-color: #af52de;
}

.info__legend {
    --action-color: #eb642a;
}

.info__rebel {
    --action-color: #eb642a;
}

.info_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 37.62px;
}

.info_rank {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 400;
    line-height: 29.26px;
}

.info_level {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.81px;
}

.total_skills {
    margin-top: 4.41vh;
    width: 100%;

    --action-color: var(--white);
}

.total_skills__recruit {
    .total_skills_line_inner {
        background-color: #34c759;
        box-shadow: none;
    }
}

.total_skills__rookie {
    .total_skills_line_inner {
        background-color: #34c759;
        box-shadow: 0.63px 3px 11.7px 0px #34c75994;
    }
}

.total_skills__mercenary {
    .total_skills_line_inner {
        background-color: #32ade6;
        box-shadow: none;
    }
}

.total_skills__warrior {
    .total_skills_line_inner {
        background-color: #32ade6;
        box-shadow: 0.63px 3px 11.7px 0px #32ade694;
    }
}

.total_skills__commander {
    .total_skills_line_inner {
        background-color: #e21515;
        box-shadow: none;
    }
}

.total_skills__guardian {
    .total_skills_line_inner {
        background-color: #e21515;
        box-shadow: 0.63px 3px 11.7px 0px #e2151594;
    }
}

.total_skills__veteran {
    .total_skills_line_inner {
        background-color: #af52de;
        box-shadow: none;
    }
}

.total_skills__hero {
    .total_skills_line_inner {
        background-color: #af52de;
        box-shadow: 0.63px 3px 11.7px 0px #af52de94;
    }
}

.total_skills__legend {
    .total_skills_line_inner {
        background-color: var(--orange-2);
        box-shadow: none;
    }
}

.total_skills__rebel {
    .total_skills_line_inner {
        background-color: var(--orange-2);
        box-shadow: 0.63px 3px 11.7px 0px #eb642a94;
    }
}

.total_skills_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.9px;
    color: var(--gray);
}

.total_skills_line {
    box-shadow: var(--inner-shadow);
    margin-top: 12px;
    width: 100%;
    border-radius: 25px;
}

.total_skills_line_inner {
    height: 9px;
    background-color: var(--white);
    box-shadow: 0.63px 3px 11.7px 0px var(--white);
    border-radius: 25px;
}

.skills {
    margin-top: 7.73vh;
    width: 100%;
}

.skill {
    background-color: var(--dark);
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    padding: 16px;

    & + & {
        margin-top: 4vh;
    }
}

.skill_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_top_left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.81px;
}

.skill_value {
    font-size: 24px;
    font-weight: 700;
    line-height: 25.08px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.skill_value span {
    font-size: 16px;
    font-weight: 700;
    line-height: 16.72px;
}

.skill__knowledge {
    .line_inner {
        background-color: var(--orange-2);
        box-shadow: 0.63px 3px 11.7px 0px #eb642a94;
    }

    .skill_value {
        color: var(--orange-2);
    }
}

.skill__loyalty {
    .line_inner {
        background-color: var(--green);
        box-shadow: 0.63px 3px 11.7px 0px #c4eb2a94;
    }

    .skill_value {
        color: var(--green);
    }
}

.skill__influence {
    .line_inner {
        background-color: var(--c-pink);
        box-shadow: 0.63px 3px 11.7px 0px #ff2d5594;
    }

    .skill_value {
        color: var(--c-pink);
    }
}

.line {
    box-shadow: -2px -2px 4px 0px #ffffff14 inset,
        2px 2px 4px 0px #000000cc inset;
    margin-top: 12px;
    width: 100%;
    border-radius: 25px;
}

.line_inner {
    height: 2px;
    background-color: var(--orange-2);
    box-shadow: 0.63px 3px 11.7px 0px rgb(235, 100, 42, 0.58);
    border-radius: 25px;
}

.button {
    margin-top: auto;
    box-shadow: var(--shadow-1);
    color: var(--white);
    text-decoration: none;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 93px;
    font-size: 24px;
    font-weight: 700;
    line-height: 25.08px;
}
