.loading {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    margin-top: 1cm;
    margin: 1cm 10px 0;
    border: 2px solid var(--white);
    display: flex;
    align-items: flex-start;
    max-width: 370px;
    gap: 20px;
    font-weight: 700;
    font-size: 24px;

    animation: block 0.5s ease-in-out 0.5s forwards;
    color: transparent;
    width: 0%;
    padding: 0 0;

    @keyframes block {
        0% {
            padding: 0 0;
        }
        15% {
            color: transparent;
            width: 0%;
            padding: 15px 0;
        }
        99% {
            color: transparent;
        }
        100% {
            color: var(--white);
            width: 100%;
            padding: 15px 20px;
        }
    }

    p {
        display: inline;
    }
}
