.menu {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 42px 16px 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4vh;
    margin-top: auto;
    margin-bottom: 16vh;
}

.link {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    width: 197px;
    height: 60px;
}

.gift {
    position: relative;

    &:after {
        content: "";
        width: 6px;
        height: 6px;
        display: block;
        background-color: var(--orange-2);
        border-radius: 50%;
        position: absolute;
        top: 14px;
        right: 16px;
    }
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link__icon {
    width: 56px;
    height: 56px;
}

// изменить
.BABLO {
    background-color: var(--dark);
    border: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 60px;
    border-radius: 93px;
    box-shadow: var(--shadow-1);
    margin-top: 20px;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 0;
    opacity: 0;
}
