.line {
    box-shadow: var(--inner-shadow);
    border-radius: 25px;
    position: relative;
}

.line__padding {
    padding: 3px;
}

.line__overflow {
    overflow: hidden;

    .inner {
        overflow: hidden;
    }

    .elem {
        box-shadow: none !important;
    }
}

.inner {
    width: 100%;
    border-radius: 50px;
}

.elem {
    background: var(--action-background);
    height: 100%;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: var(--action-box-shadow);
}
