.container {
    padding: 20px 17px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.heading {
    font-family: "Pixel Operator";
    font-size: 32px;
    font-weight: 700;
    line-height: 33.44px;
}

.description {
    color: #676767;
    font-family: "Pixel Operator";
    font-size: 16px;
    font-weight: 400;
    line-height: 16.72px;
    text-align: left;
}

.top_icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 77px;
    background: var(--dark);
    box-shadow: var(--shadow-1);
}

.chests {
    margin-top: 27px;
    width: 100%;
}

.chest {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--dark);
    box-shadow: var(--shadow-1);
    border-radius: 12px;
    padding: 16px;

    & + & {
        margin-top: 32px;
    }
}

.chest_icon svg {
    width: 30px;
    height: 31px;
}

.chest__legendary .chest_icon path {
    fill: var(--orange-2);
}

.chest__epic .chest_icon path {
    fill: var(--c-purple);
}

.chest__rare .chest_icon path {
    fill: var(--c-pink);
}

.chest__uncommon .chest_icon path {
    fill: var(--c-cyan);
}

.chest__common .chest_icon path {
    fill: var(--c-green);
}

.chest_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chest_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20.9px;
    color: var(--white);
}

.chest_title_span {
    color: var(--gray);
    margin-left: 6px;
}

.chest_price {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    line-height: 20.9px;
}

.chest_price__disabled {
    color: var(--gray);

    path {
        fill: var(--gray);
    }
}

.chest__available .chest_price {
    opacity: 0.3;
}

.chest_coin {
    width: 16px;
    height: 16px;
}

@keyframes buyAnimation {
    0% {
        translate: -4px;
    }
    25% {
        translate: 4px;
    }
    50% {
        translate: -1px;
    }
    75% {
        translate: 1px;
    }
    100% {
        translate: 0;
    }
}

.chest_button {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    color: var(--orange-2);
    font-size: 20px;
    font-weight: 400;
    line-height: 20.9px;

    &:disabled {
        color: var(--gray);
        // animation: buyAnimation ease-in-out 0.5s infinite;
    }
}
