.container {
    padding: 26px 17px 46px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 100%;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 33.44px;
}

.cards {
    width: 100%;
    margin-top: 29px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.card {
    padding: 18px;
    box-shadow: var(--shadow-1);
    border-radius: 12px;
    background-color: var(--dark);
    border: 1px solid #000;

    &:last-child {
        grid-column: span 2;

        .card_title {
            text-align: left;
        }

        .card_description {
            text-align: left;
        }
    }
}

.card__common {
    .card_title {
        color: var(--c-green);
    }
}

.card__uncommon {
    .card_title {
        color: var(--c-cyan);
    }
}

.card__rare {
    .card_title {
        color: var(--c-pink);
    }
}

.card__epic {
    .card_title {
        color: var(--c-purple);
    }
}

.card__legendary {
    .card_title {
        color: var(--orange-2);
    }
}

.card_title {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 8px;
    display: inline-block;
}

.card_description {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    opacity: 0.5;
}

.card_list {
    margin-top: 15px;
}

.card_row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
        margin-top: 10px;
    }

    strong {
        font-size: 16px;
        font-weight: 700;
        line-height: 17px;
    }

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        opacity: 0.5;
    }
}
