.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heart_icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: var(--shadow-1);
    border-radius: 50%;
}

.heart_count {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;

    span:last-child {
        opacity: 0.3;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.line {
    box-shadow: var(--inner-shadow-1);
    margin: 0 16px;
    border-radius: 25px;
    line-height: 17px;
}

.line_inner {
    width: 21%;
    height: 9px;
    border-radius: 25px;
}

.line__health .line_inner {
    background-color: var(--orange);
    box-shadow: 0.63px 3px 11.7px 0px rgb(235, 100, 42, 0.58);
}

.line__energy .line_inner {
    background-color: var(--green);
    box-shadow: 0.63px 3px 11.7px 0px rgb(196, 235, 42, 0.38);
}

.battery_count {
    display: flex;
    flex-direction: column;
    align-items: start;

    span {
        &:first-child {
            color: #c4eb2a;
        }

        &:last-child {
            color: #fff;
            opacity: 0.3;
        }
    }
}

.battery_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: var(--shadow-1);
    border-radius: 100px;
    margin-left: 12px;
}
