.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heart_icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 4px 4px 8px 0px #131313, -4px -4px 8px 0px #454545;
    border-radius: 100px;
}

.heart_count {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;

    span:last-child {
        opacity: 0.3;
    }
}

.line {
    box-shadow: 2px 2px 4px 0px #000000cc inset,
        -2px -2px 4px 0px #ffffff14 inset;
    margin: 0 16px;
    flex-grow: 1;
    border-radius: 25px;
}

.line_inner {
    width: 21%;
    height: 9px;
    background-color: #eb642a;
    box-shadow: 0.63px 3px 11.7px 0px #eb642a94;
    border-radius: 25px;
}

.battery_count {
    display: flex;
    flex-direction: column;
    align-items: start;

    span {
        &:first-child {
            color: #c4eb2a;
        }

        &:last-child {
            color: #fff;
            opacity: 0.3;
        }
    }
}

.battery_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 4px 4px 8px 0px #131313, -4px -4px 8px 0px #454545;
    border-radius: 100px;
    margin-left: 12px;
}
