@import url("./assets/fonts/index.scss");

:root {
    --dark: #090909;
    --orange-2: #eb642a;
    --yellow: #ffcc00;
    --green: #c4eb2a;
    --gray: #676767;
    --white: #b6b6b6;
    --red: #6e0d0d;

    --c-purple: #af52de;
    --c-cyan: #32ade6;
    --c-green: #34c759;
    --c-brown: #a2845e;
    --c-pink: #ff2d55;

    --shadow-1: 2px 2px 4px 1px #000, -2px -2px 3px -2px #606060;
    --line-inner-shadow: -2px -2px 4px 0px #ffffff14 inset,
        2px 2px 4px 0px #000000cc inset;
    --inner-shadow: 2px 2px 4px 1px #000 inset,
        -2px -2px 3px -2px rgb(96, 96, 96, 0.9) inset;
}

* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixel Operator Mono", monospace;
}

html {
    background-color: var(--dark);
    color: var(--white);
}

body {
    font-weight: 400;
    font-size: 16px;
}

button,
input,
select,
textarea,
a {
    outline: none;
}
