.container {
    width: 100%;
}
.modal {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    align-items: flex-end;
}

.modal_inner {
    width: 100%;
    height: calc(100vh - 20px);
}

.heading {
    font-family: "Pixel Operator";
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
}

.cards {
    margin-top: 24px;
}

.accordeon_button__Common {
    color: var(--c-green);
}

.accordeon_button__Uncommon {
    color: var(--c-cyan);
}

.accordeon_button__Rare {
    color: var(--c-pink);
}

.accordeon_button__Epic {
    color: var(--c-purple);
}

.accordeon_button__Legendary {
    color: var(--orange-2);
}

.item {
    border-top: 1px solid rgba($color: #b6b6b6, $alpha: 0.05);
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 370px) {
        gap: 8px;
    }

    & + & {
        margin-top: 24px;
    }
}

.item__disabled {
    opacity: 0.6;
    pointer-events: none;
}

.item_img {
    min-width: 56px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    box-shadow: var(--shadow-1);
    border-radius: 100px;

    img {
        width: 49px;
        border-radius: 100px;
        pointer-events: none;
    }
}

.item_info {
    flex-grow: 1;
}

.item_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20.9px;
}

.item_title__used {
    color: var(--gray);
}

.item_skills {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 25.08px;
    color: #a6a6a6;

    svg {
        width: 16px;
        height: 16px;
    }
}

.item_skills_block {
    display: flex;
    align-items: center;
    width: 50px;
    gap: 8px;
}

.item_skills_block_icon__knowledge path {
    fill: #672b12;
}

.item_skills_block_icon__loyalty path {
    fill: #53650e;
}

.item_skills_block_icon__influence path {
    fill: #6e0d0d;
}

.item_counter {
    font-size: 16px;
    font-weight: 400;
    line-height: 16.72px;
    color: var(--gray);
    flex-shrink: 0;
}

.item_upgrading {
    min-width: 14px;
    margin-left: -8px;

    @media (max-width: 370px) {
        margin-left: 0;
    }

    @keyframes fadeTop {
        0% {
            opacity: 0.8;
        }
        25% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.3;
        }
        75% {
            opacity: 0.5;
        }
        100% {
            opacity: 0.8;
        }
    }

    @keyframes fadeMiddle {
        0% {
            opacity: 0.5;
        }
        25% {
            opacity: 0.3;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.8;
        }
        100% {
            opacity: 0.5;
        }
    }

    @keyframes fadeBottom {
        0% {
            opacity: 0.3;
        }
        25% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.8;
        }
        75% {
            opacity: 0.5;
        }
        100% {
            opacity: 0.3;
        }
    }

    path {
        &:nth-child(1) {
            animation: fadeTop 2s ease-in-out infinite;
        }

        &:nth-child(2) {
            animation: fadeMiddle 2s ease-in-out infinite;
        }

        &:nth-child(3) {
            animation: fadeBottom 2s ease-in-out infinite;
        }
    }
}

.item_button {
    margin-left: auto;
    color: var(--green);
}

.item_button__select {
    color: var(--orange-2);
}

.item_button__used {
    color: var(--gray);
}
