.container {
    padding: 20px 17px 6.35vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.top_left {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.heading {
    font-family: "Pixel Operator";
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
}

.skills {
    margin-top: 29px;
}

.block {
    padding: 20px;
    background-color: #0a0a0a;
    box-shadow: var(--shadow-1);
    border-radius: 12px;

    & + & {
        margin-top: 24px;
    }
}

.block__knowledge {
    .block_title {
        color: var(--orange-2);
    }
}

.block__loyality {
    .block_title {
        color: var(--green);
    }
}

.block__influence {
    .block_title {
        color: var(--c-pink);
    }
}

.block_title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
}

.block_description {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
}
